name: Deploy to EC2 (dev)

on:
  push:
    branches: [ "dev" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        env:
          OPEN_AI_API_KEY: ${{ secrets.OPEN_AI_API_KEY }}
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22

          timeout: 2m
          command_timeout: 60m

          envs: OPEN_AI_API_KEY

          script: |
            cd /home/ubuntu/cheongyeon-be
            bash scripts/deploy-dev.sh